<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs')%>

<div class="container">
    <div class="row mt-5">
      <h2 class="text-center">Register or Login to move further</h2>
  </div>
  </div>

<%- include('../partials/footer.ejs') %>